@import "tailwindcss";

html, body, #root {
  height: 100%;
  background-color: #0b0f17;
}

body {
  margin: 0;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2a3344;
  border-radius: 4px;
}
